
<body>
<h3 class="logo">Forms</h3>
<div id="form-box">
  <form [formGroup]="profileForm">
  <label>
      Name:
      <input formControlName="name" placeholder="name"/>
    </label><br>
    <label>
      Email:
      <input formControlName="email" placeholder="email"/>
    </label><br>
    <label>
      Comments:
      <input formControlName="comment" placeholder="comment"/>
    </label><br> 
  <label>
    Feedback:  
  <input type="radio" value='Great' required formControlName="feedback" >Great 
  <input type="radio" value='Okay' required formControlName="feedback" >Okay 
  <input type="radio" value='Not good' required formControlName="feedback" >Not Good 
  </label>
  <br>
  <button type="submit" (click)='err()' style="margin-right:10px">Submit</button> 
   <button type="refresh" (click)='refresh()'>Refresh</button>
</form>
<p style="font-size: 30px;">
  <br><br>
  Data retrieved from the server is:<br><br>
 <span>Name: </span>{{getdata.name}}<br><br>
 <span>Email: </span>{{getdata.email}}<br><br>
 <span>Comments: </span>{{getdata.comment}}<br><br>
 <span>Feedback: </span>{{getdata.feedback}}<br><br>
  
</p>
</div>


  
  
