<body>
<h3 class="logo">Forms</h3>
<div id="form-box">
  <label>
      Name:
      <input [(ngModel)]="items.name" placeholder="name"/>
    </label><br>
    <label>
      Email:
      <input [(ngModel)]="items.email" placeholder="email"/>
    </label><br>
    <label>
      Comments:
      <input [(ngModel)]="items.comment" placeholder="comment"/>
    </label><br>
  <label>
    Feedback:
    <label *ngFor="let item of radioItems">
      <input type="radio" name="options" (click)="items.feedback = item" 
      [checked]="item === items.feedback">
      {{item}}
    </label>
  </label>
</div>

<button (click)="err()">Submit</button>
<button (click)="refresh()">Refresh</button>

<div class="flag" *ngIf="display">
<div class="postitem" *ngIf="postitem else other">
  <div class="error" *ngIf="error else success">Submission failed! Try again!</div>
  <ng-template #success>
    <div>Feedback registered!</div>
  </ng-template>
</div>
<ng-template #other>
  <div class="error" *ngIf="error">
    Submission failed! You may want to enter valid inputs ;)
  </div>
</ng-template>
</div>

</body>

