
<body>
<h3 class="logo">Forms</h3>
<div id="form-box">
  <form [formGroup]="profileForm">
  <label>
      Name:
      <input formControlName="name" placeholder="name"/>
    </label><br>
    <label>
      Email:
      <input formControlName="email" placeholder="email"/>
    </label><br>
    <label>
      Comments:
      <input formControlName="comment" placeholder="comment"/>
    </label><br> 
  <label>
    Feedback:  
  <input type="radio" value='Great' formControlName="feedback" >Great 
  <input type="radio" value='Okay' formControlName="feedback" >Okay 
  <input type="radio" value='Not good' formControlName="feedback" >Not Good 
  </label>
  <br>
  <button type="submit" (click)='err()'>Submit</button>
  <button type="refresh" (click)='refresh()'>Refresh</button>
</form>
</div>


  
  
