<body class="theme-1">
<p>
  <mat-toolbar color="primary">
    <h1 style="font-size: 30px;">OUTLAB 6</h1>
    <span class="example-spacer"></span>
    <div style="margin-left: 1400px; margin-right: 10px;">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     
      <nav>
        <a routerLink="/form" style="font-size: 20px;">Form</a>
      </nav>
      
    </button>
  </div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <nav>
        <a routerLink="/contact" style="font-size: 20px;">Contact</a>
      </nav>
    </button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
</body>